# Default values for puller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: sdubrovskyi/puller
  pullPolicy: IfNotPresent
  tag: "latest"

livenessProbe:
  enabled: true
  path: "/health"

readinessProbe:
  enabled: true
  path: "/health"

podAnnotations: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: localhost
      paths:
        - "/text"
  tls: []

resources:
   limits:
     cpu: 100m
     memory: 64Mi
   requests:
     cpu: 100m
     memory: 64Mi

settings:
  log-level: INFO
  scann-url: "http://scanner:8080/scan"
  database-host: mysql.storage.svc.cluster.local

auth:
  database: "service"
  username: "python"
  password: ""
