replicaCount: 1

image:
  repository: sdubrovskyi/scanner
  pullPolicy: IfNotPresent
  tag: "latest"

livenessProbe:
  enabled: true
  path: "/health"

readinessProbe:
  enabled: true
  path: "/health"

podAnnotations: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: localhost
      paths:
        - "/scan"
  tls: []

resources:
   limits:
     cpu: 100m
     memory: 64Mi
   requests:
     cpu: 100m
     memory: 64Mi

